.projectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
}

.fetching {
  display: block;
}

@media (max-width: 1182px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 796px) {
  .projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}