.searchBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 289px;
  margin-bottom: 20px;
}

.searchInput,
.searchImg {
  background-color: transparent;
  border: 1px solid rgba(45, 45, 45, 0.3);
}

.searchInput {
  border-right: none;
  border-radius: 7px 0px 0px 7px;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.1px;
  flex: 1;
}

.searchInput::placeholder {
  color: rgba(45, 45, 45, 0.3);
}

.searchImg {
  display: block;
  border-left: none;
  border-radius: 0px 7px 7px 0px;
  padding: 13.5px 14px;
}

@media (max-width: 329px) {
  .searchBlock {
    width: auto;
  }
}